.leaflet-container{
    height: 600px;
    width: 98%;
}


body{
    background-color: #011e3c !important;
}
table{
    border: solid 1px white;
}

/* Link,h1,h2,h3,h4,td,thead{
    color: white !important;
}
a{
    text-decoration: none !important;
    color: white !important
}

input{
    background-color: '#132f4c !important';
} */
