/* .warehousesContainer{
    padding-bottom: 1rem;
    height: 700px  !important;
    overflow-y: scroll;
    display: block;
} */

.warehousesContainer{
    padding-bottom: 1rem;
    padding-right: 1.3rem;

}

.mapContainer{
    right: 0;
}